.confoot{
	padding:20px 15px 5px 15px;
	margin-right:auto;
	margin-left:auto
} /*container для футера*/
@media (min-width:768px){.confoot{width:750px}}@media (min-width:992px){.confoot{width:970px}}@media (min-width:1200px){.confoot{width:1170px}}
.footer a{
	color:black; 
	text-decoration:none
} /*колір посилань та прибирання підчерку */
.footer a:hover{
	color:white;
	transition:all 0.3s ease;
} /*колір посилань при наведенні*/
.row{
	margin-right:0;
	margin-left:0;
} /*row без скролла*/
.rowcontent{ 
	background:white;
	border: 1px solid green;
	padding:0px 5% 0px 5%;
	margin-bottom:20px; 
	margin-top:10px;

	border-radius:4px;
	overflow: hidden;
} 
.rowmenu{
	background:#00866d;
}/*колір широкої полоси навігації, має збігатись з navbar-default*/
/*.menu1 li:hover > ul
{
	display:block
}*/

.menu1 li{
	/*border-bottom: solid 1px white;*/
}
.dropdown-menu{
	background:#9cc873; /*фон підменю (хакі)*/
	font-weight:100;
	font-size:18px;
	font-family: Arial, Times, Arial, sans-serif;
	border: solid 1px green;
}
.socnet{
	float:right; 
	list-style-type: none;
	margin-top:5px; 
	padding-left:30px;
} /*посилання на соц мережі - позиція, відступ зверху*/ 

.socnet li{
	display:inline; 
	margin:5px
} /*список горизонтальний, відступ між елементами*/
.socnet a{
	text-decoration:none
} 
ul{
	margin-bottom: 5px
}
.fa{
	font-size:inherit
} /*колір картинок соц мереж*/

.navbar-default{
	background-color:#00866d;	
	font-weight:100;/*насиченість шрифту, колір меню = .rowmenu*/
	font-size:18px; 
	padding:0px 15px;
	font-family: Arial, Times, Arial, sans-serif;
} 
.navbar-default .navbar-nav>li>a{
	color:white
}/*колір букв пунктів меню*/
.navbar-default .navbar-nav>li>a:hover{
	color:black;
	transition:all 0.3s ease;
} /*колір букв пунктів меню при наведенні курсору*/
.math>li>a{
	color:black;
	font-size:16px; 
}
.math>li{
	padding-bottom:10px;
}
html, body {
	margin:0px; 
	padding:0px; 
	height:100%
}
.wrapper {
	min-height:100%;
	background: url('asset/images/back.jpg');
	background-size: 100%;
}
. {
	padding-top:62px
}
.footer { /*фон колір ширина футеру*/
    background: #9cc873;
	clear:both;
    color: black;
    width: 100%;
}
/*.thumb img:hover { 
   filter: gray; /* IE6-9 */ 
 /*-webkit-filter: grayscale(1); 
} */
.thumb { 
	padding:5px; 
    }
.logo{
	padding:0px
}
.logo p{
	margin:0px
}
.logo img{
	width:100%
}
.form-control{
	display:block;
	width:100%;
	height:28px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143; /*кнопка пошуку*/
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
h3 { 
	text-align:center
}

.link a{
	text-decoration:none;
    margin-bottom: 3px;
} 
.thumb img { 
	filter: none; /* IE6-9 */ 
	-webkit-filter: grayscale(0); 
	border-radius:5px; 
	background-color: #fff; 
	border: 2px solid #e9e7ac;
	width:100%;
}

.thumb img:hover {
	border: 2px solid green;
	transition:all 0.3s ease;
}

.thumb{ 
	padding:5px; 
} 
header{
	background:#d1d983;
}
.info{
	text-align: left;
	background: #e9e7ac;
	/*border: 1px solid green; */
	padding: 10px 10px 10px 10px;
	margin-bottom:20px;
	overflow:hidden;
	border-radius:4px;
}

.info_p {
    color: #3b5275;
}
.link{
	background: #e9e7ac;
	/*border: 1px solid green;*/
	padding: 10px 10px 10px 10px;
	margin-bottom:20px; 
	/*opacity:0.9; */
	overflow:hidden;
	border-radius:4px;
}

.link p{
    color: green;
    font-weight: bold;
    font-size: larger;
    font-family: monospace;
}

.info-header{
    color: green;
    font-weight: bold;
    font-size: larger;
    font-family: monospace;
}

.map{
	margin-bottom:20px;
}
.thumbnail{
	min-height:545px; 
	display:block;
	padding:4px;
	margin-bottom:20px;
	line-height:1.42857143;
	background-color:#fff;
	border:1px solid green;
	border-radius:4px;
	padding-top: 20px;
	-webkit-transition:border .2s ease-in-out;
	-o-transition:border .2s ease-in-out;
	transition:border .2s ease-in-out
}
.thumbnail img{
	border: 1px solid green;
	height:200px; 
	width:80%;
	object-fit:cover;
}
.article p{
	font-size:16px;
	/*text-align: justify;*/
	}
.article img{
	max-width: 100% !important;
	height: auto !important;
	text-align:center;
}
.active img{
	width:100%;
}

.item img{
	width:100%;
}

.mob_img{
	min-height:80px;
}
.forcursor{
	cursor: pointer;
}
.gallerylinks{
	text-decoration:none; 
	color:#003233;
	}
.gallerylinks:hover{
	text-decoration:none;
	transition:all 0.3s ease;
}
.row_article{
	background:white;
	margin-bottom:20px;
	border: 1px solid green;
	padding: 10px 10px 10px 10px;
	opacity:0.9;
	border-radius:4px;
}
.youtube{
	padding-left: 15%; 
	padding-bottom: 20px;
}
.img-responsive{
	height:200px; 
	width:100%;
	object-fit:cover;
}
.newtitle{
	color:green;
}
.namef p{
	position:absolute;
	bottom:23px;
	right:7%;
}
.nameadm{
	height:60px;
}
.newstitle{
	margin-top:10px
}
.caption p{
	font-size:16px;
}
.rowcontentadm{
	background:white;
	border: 1px solid green;
	padding:0px 5% 0px 5%; 
	margin-bottom:20px; 
	margin-top:10px;
	border-radius:4px;
}
.rowcontentadm p{
	font-size:16px;
}
.adm{
	margin-bottom:20px;
}
.as img{
	width:100%; 
	height:350px; 
	object-fit:contain; 
	padding:5px;
}
.error{
	padding-top: 50px;
}
.error-header{
	font-size: 70px;
	color: white;
	text-shadow: green 0 0 2px;
	font-weight: bold;
	text-align: center;
}

#app{
	background: url('asset/images/back.jpg');
	background-size: 100%;
	height:100%;
}
.search-form{
	padding:0px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.search-form form{
	float:right;
}

.counter{
	float:right;
}

.activity
{
	font-size: 14pt;
	/*display: inline;*/
	list-style-type: none;
	padding: 5px 5px 5px 5px;
}

.activity a {
	 font-family: "Open Sans", sans-serif;
	 color: green;
	 text-decoration: none;
 }

.activity a:hover {
    color: darkgreen;
}

.activity a img{
	width:100%;
	object-fit:cover;
	border-radius: 5px;
}

.part {
	margin-bottom: 20px;
}

.toggle-article:hover {
	opacity: 0.5;
	transition:all 0.3s ease;
}

.banner p{
    color: white;
    text-align: center;
    position:absolute;
    bottom:20px;
    left:20%;
}

.banner {
    padding-left: 0px;
    padding-right: 0px;
}

.banner-content{
    margin-top: -20px;
    margin-left: -6%;
    margin-right: -6%;
}

.banner-capture {
    font-family: monospace;
    font-weight: bold;
    font-size: 14pt;
}

.banner-capture p{
    font-size: larger;
    text-shadow: red 0 0 2px;
	transition:all 0.3s ease;
}

.gallery-content{
	margin-bottom:20px;
}

#toTop {
	position:fixed;
	bottom:10px; /* отступ кнопки от нижнего края страницы*/
	right:10px;
	cursor:pointer;
	display:none;
}

.toggle-article{
	font-family: 'Arial';
	float: right;
	color:white;
	font-size: 12pt;
	text-decoration: none;
	height: 32px;
	padding: 5px 8px 5px 8px;
	font-weight: bold;
	border-radius: 3px;
	background-color: #48ab77;
}
.search-news{
	list-style-type: none;
}

.search_header{
	color:green;
	font-size: 20px;
	text-align: center;
}

.search-articles{
	list-style-type: none;
	font-size: 18px;
}

.search-articles a{
	text-decoration: none;
	color:green;
	transition:all 0.3s ease;
}

.search-articles li {
	padding-top: 10px;
}

.search-articles a:hover{
	/*color:black;*/
	font-weight: bold;
}

.search-submit{
	border: solid 1px green;
	background-color: white;
	color:green;
	border-radius: 2px;
    transition:all 0.3s ease;
}

.search-text{
	width: 80%;
	border: solid 1px green;
	border-radius: 2px;
	color:green;
    font-size: initial;
    padding-left: 3px;
    font-style: italic;
}

.search-submit:hover {
	background-color: green;
	color: white;
}